.Team_card{
    background: #FFFFFF;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    }
    .Team_card-title{
      margin: 12px;
      /* font-family: 'Open Sans'; */
      font-style: normal;
      font-weight: 600;
      font-size: 19px;
      /* line-height: 3px; */
      text-align: center;
      color: rgba(0, 0, 0, 0.7);
    }
    
    .Team_overflow{
      background: #72D1E2;
    /* border-left: 2px solid; */
    /* border-right: 2px solid; */
    /* border-top: 2px solid; */
    /* border-radius: 14px;x */
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
    /* border-color: aqua; */
    }
    .Team_card:hover {
        box-shadow: 5px 10px 20px 1px rgba(255, 255, 255, 0.273) !important;
        transition: all 0.7s linear;
      }
      
    .Team_card-body {
        padding: 2rem 0 !important;
      }
      
    .Team_card-text {
        padding: 0.3rem 3rem;
        font-size: 1rem;
        text-align: center;
      }
      
    .Team_cardwidth img {
        padding: 0.3rem 1rem;
        font-size: 1rem;
       
    }
    .Team_social_id a {
      margin: 5px;
    }
     
    .Team_btn:hover{
      transform: scale(1.3);
      cursor: pointer;
    }
      .Team_card-img-top {
        width: 138px;
        height: 138px;
        /* border:2px solid aqua; */
        border-radius: 50%;
        position: relative;
        top: 34px;
        /* transform: scale(1.0); */
        /* transition: transform 0.2s ease-in-out; */
      }
      
      .Team_card-img-top:hover {
        border-radius: 50%;
        /* transform: scale(1.17); */
      }

      .Team_card-body i{
        color: #4c9dac;
      }
      