
.Event_Title{
    text-align: center;
    /* font-family: 'Open Sans'; */
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 49px;
    color: rgba(0, 0, 0, 0.7);
    padding: 36px;
    top: 22px;
    position: relative;
}
.Event_row{
    margin: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.Event_col{
    margin: 20px;
    width: 327px;
}
@media only screen and  (max-width:1360px) {
    .Event_row{
    
    width: 100%;
    margin: 0px;
    margin-bottom: 20px;
        
    }
}