.anounce{
       /* padding: 0px; */
       position: relative;
       width: 100%;
}
.tittleAnounce{
    text-align: center;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 49px;
    color: rgba(0, 0, 0, 0.7);
    padding: 36px;
    top: 22px;
    position: relative;
}
.eventdetails{
    text-align: justify;
    font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 22px;

color: rgba(0, 0, 0, 0.7);
}
.Event_name{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    /* identical to box height */
    
    
    color: rgba(0, 0, 0, 0.6);
}
.anouncecontent{
   
    width: 50%;
    margin: 68px;
    /* margin-left: 248px; */
    padding: 38px;
}
.registerbtn{
    
font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 20px;
width: 120px;
height: 38px;
color: #F5F5F5;
background: #72D1E2;
border: 2px solid  ;
border-radius: 3px;
transform: scale(1);
transition: all 0.2s ease-in-out;
}
.registerbtn:hover{
    cursor: pointer;
    transform: scale(1.3);
}
.Imgsection{
    position: absolute;
    right: 232px;
    top:  226px;
}
.Imgsection img{
    width: 230px;
}
@media  only screen and (max-width:1385px) {
    
    .Imgsection{
        position:static;
        right: 0px;
        top:0px;
        margin-bottom:50px ;
    }
    .Imgsection img{
        position: absolute;
    right: 232px;
    top: 226px;

    }
    
}
@media all and (max-width:1179px){
    .anouncecontent{    
        width: 78%;
        margin: 0px;
    }
    .Imgsection{
        position:static;
        right: 0px;
        top:0px;
        margin-bottom:50px ;
    }
    .Imgsection img{
        position: static;
    right: 0px;
    top: 0px;
        display: block;
        margin: auto;
    } 
}