
.header {
  width: 100%;
  height: 80px;
  line-height: 80px;
  z-index: 4;
  position: sticky;
  top:0;
background: #FFFFFF;
box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.30);
}
.logo a img{
position: absolute;
width: 6%;
height: 55.15px;
left: 147px;
top: 12px;
/* border-radius: 305px; */
}

.nav__list {
  position: absolute;
  right: 83px;
  top: 0;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  column-gap: 1.3rem;
}

.nav__item a {
  margin: 14px;
  font-weight: 500;
  font-size: 1.1rem;
  color: #0a2b1e;
  text-decoration: none;
  transition: 0.3s;
}

.nav__item a:hover {
  color: #7dbcc7;
}


.heading__menu span i {
  position: absolute;
  right: 29px;
  font-size: 1.4rem;
  color: #0a2b1e;
  cursor: pointer;
}
.heading__menu {
  display: none;
}


@media only screen and (max-width: 991px) {
  .nav__menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #0a2b1ec2;
    z-index: 99;
    display: none;
  }

  .nav__list {
    position: absolute;
    background: #fff;
    top: 0;
    right: 0;
    width: 250px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 999;
    padding-top: 80px;
  }

  
  .heading__menu {
    display: block;
  }
  .nav__right {
    display: none;
  }
 

  .active__menu {
    display: block;
  }
}
@media only screen and (max-width:872px) {
  .logo a  img{
    width:21%;
  }
  
}
@media only screen and (max-width:538px) {
  .logo a img{
   left: 17px;

  }
  
}