.card{
  height: 436px;
background: #FFFFFF;
border-radius: 12px;
text-align: center;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.card-title{

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 19px;
    line-height: 16px;
    text-align: center;
    color: rgba(0, 0, 0, 0.7);
}

.card:hover {
    box-shadow: 5px 10px 20px 1px rgba(255, 255, 255, 0.273) !important;
    transition: all 0.7s linear;
  }
  
.card-body {
    padding: 2rem 0 !important;
  }
  
.card-text {
    height: 164px;
    padding: 0.3rem 3rem;
    font-size: 1rem;
    text-align: justify;
  }
  
.cardwidth img {
    padding: 0.3rem 1rem;
    font-size: 1rem;
   
}
.btn{     
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    width: 167px;
    padding: 6px;
    color: #F5F5F5;
    background: #72D1E2;
    border: 2px solid;
    border-radius: 3px;
    transform: scale(1);
transition: all 0.2s ease-in-out;
}  
.btn:hover{
  transform: scale(1.3);
  cursor: pointer;
}
  .card-img-top {
    width: 84px;
    position: relative;
    top: 34px;
    transform: scale(1.5);
    transition: all 0.2s ease-in-out;
    border-radius: 50%;
  }
  
  .card-img-top:hover {
    transform: scale(1.3);
  }
  @media only  screen and (max-width:849px) {
    .btn{
      width: 122px; 
         
}}